<div id="<%= dom_id blog %>">

  <div class="output">
    <strong>Title:</strong>
    <%= blog.title %>
  </div>
  
  <div class="output">
    <strong>Category:</strong>
    <%= blog.category %>
  </div>

  <div class="output">
    <strong>Content:</strong>
    <%= blog.content %>
  </div>
</div>
