<% @blog.comments.each do |comment| %>
  <div id="<%= dom_id comment %>">
    <p>
      <strong>Blog:</strong>
      <%= comment.blog_id %>
    </p>

    <p>
      <strong>Other user name:</strong>
      <%= comment.other_user_name %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= comment.comment %>
    </p>

  </div>
<% end %>