/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: rgba(150, 145, 145, 0.214);
  width: 100%;
  height: 100%;
}

.notice {
  color: rgb(0, 211, 7);
}

.alert {
  color: rgb(255, 0, 0);
}

/*テスト記述*/
/*#opener {
  position: relative;
  top: 50vh;
  left: 50%;
  display: block;
  width: 200px;
  padding: 1rem 0;
  font-weight: bold;
  border: 1px solid #fefefe;
  border-radius: 1.5rem;
  background-color: #fefefe;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s;
  letter-spacing: .1em;
  
  &:hover {
    cursor: pointer;
    color: #fefefe;
    background-color: transparent;
  }
}*/

#dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.2);
  backdrop-filter: blur(3px);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
    
  &.inview {
    visibility: visible;
    opacity: 1;
  }
}

.dialog-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  padding: 2rem;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1;
}

#closer {
  margin-top: 1rem;
  width: 100px;
  padding: 1rem 0;
  color: #fff;
  border: 1px solid #222;
  background-color: #222;
  border-radius: 1.5rem;
  transition: color 0.3s, background-color 0.3s;
  letter-spacing: .1em;
  
  &:hover {
    color: #222;
    background-color: transparent;
    cursor: pointer;
  }
}
/*テスト記述*/
