/* index */
.top img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.blog_title {
  position: absolute;
  top: 130px;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
  color: blue;
}

.contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog_contents {
  width: 80%;
}

.blog_content {
  display: flex;
  margin: 0 2.5%;
}

.category_output {
  font-size: small;
}

.admin_link {
  width: 20%;
}

/* new */

/* show */

/* edit */
