<p style="color: green"><%= notice %></p>

<h1>Model names</h1>

<div id="model_names">
  <% @model_names.each do |model_name| %>
    <%= render model_name %>
    <p>
      <%= link_to "Show this model name", model_name %>
    </p>
  <% end %>
</div>

<%= link_to "New model name", new_model_name_path %>
